# Visual Studio & Build Results
.vs/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
[Dd]ebug/
[Rr]elease/
bld/
bin/
obj/
Log/
Logs/

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Build Artifacts
*.obj
*.pdb
*.ilk
*.log
*.tlog
*.idb
*.ipch
*.aps
*.ncb
*.opendb
*.db
*.db-shm
*.db-wal
*.exe
*.dll
*.lib
*.sbr
*.bsc
*.lastbuildstate

# Project Specific - Render Outputs
#*.ppm

# OS Specific
Thumbs.db
ehthumbs.db
.DS_Store
